@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root{
--primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: 'Mooli', san-serif;
}
body{ 
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
}
a:link,
a:visited{
    color: var(--text-light);
}
header {
    text-align: center;

}
nav{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
h3{
    text-align: center;
}
header h1, nav h2, h3{
    text-align: center;
}
.images{
    border: 0.5rem solid var(--text-dark);
    max-width: 250px;
    
}


.img-gallery{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
header h1{
    text-align: center;
}
header{
    background-color:var(--primary-color);
    color:var(--text-light);
    padding-top: 5px;
}

footer{
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 20px 0;
    font-size: 1.2em;
}
.hide {
	display: none;
}



@media screen and (min-width: 700px) {
  .img-gallery{
      grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 1000px) {
  .img-gallery{
      grid-template-columns: 1fr 1fr 1fr;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu-btn{
    display: none;
  }
  
} 

  

