  
/* body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  .dark{
    background-color: #333;
    color: white;
  }

  .dark h2 {
    color: rgb(160, 212, 237);
  }
  .wax{
    align-items: center;
    margin: auto;
    border: solid;
    border-width: 1px;
    width: 1000px;
  }
  
  .container {
    max-width: 600px;
    padding: 100px;
    margin: 50px auto;
    border: 1px solid #ccc;
  }
  

  h1, h2{
    text-align: center;
    letter-spacing: 4px;
  }
  
 
  h2 {
  color: #006eb6;
  font-size: .75em;
  }
  
 
  p, li{
  line-height: 1.5;
  padding: 10px;
  }
  
  em{
    display: block;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;
  }
  
  ol{
    text-align: left;
    padding-left: 20px;
    margin-top: 0;
  }
  
  ol li{
    margin-bottom: 10px;
  }
  
  footer {
    margin-top: 40px;
    font-weight: bold;
    font-size: 22px;
    color: #006eb6;
    text-align: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
  } */








  #content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    width: 100%;
    font-size: 20px;
    border: 1px solid gray;
    padding: 50px 150px;
}

h1, h2{
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

header{
    margin-bottom: 50px;
}

h2{
    color: #006EB6;
    font-size: 18px;
    border-bottom: 1px solid rgb(225, 220, 220);
}

p, ol li{
    line-height: 1.5;
}

ol li{
    margin-bottom: 20px;
}

.italic-text{
    font-style: italic;
}

.logo{
    width: 150px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 50px;
    /* margin-bottom: 50px; */
}


.dark{
    background-color:  #333;
    color: white;
}

.dark h2{
    color: #14a2ff;
}