* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
  }
  
  img {
    max-width: 100%;
  }
  .main-nav{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  .main-nav li{
    flex-basis:  5em;
  }
  .main-nav a {
    color:black;
  }
  .media-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: center;
    align-items: center; */
    text-align: center;

  }

  .media-card img{
    width: 70%;
  }

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery section{
    flex-basis: 500px;
}

  @media  screen and (min-width) {
    .media-card{
        flex-direction: row;
    }
    
  }
